html, body 		{ position: absolute; width:  100%; height:  100%; background-color: #ffffff; margin: 0; padding: 0; font-family: Arial, sans-serif; font-size: 16px; color: #005f9c; overflow: auto; }
canvas 			{ position: absolute; background-color: transparent; display: block; margin: 0; padding: 0; }
video 			{ position: absolute; background-color: transparent; display: none;  margin: 0; padding: 0; }

#_wrapper	 	{ position: absolute; width:  100%; height:  100%; }
#_content 		{ position: absolute; width: 640px; height: 480px; background-color: #f7f7f7; margin: auto; top: 10; left: 0; right: 0; }
#_progressBar	{ position: absolute; width:   1px; height: 480px; background-color: #000000; margin: auto; top: 0; left: 0; }
#_subline		{ position: absolute; width: 640px; height:  40px; background-color: transparent; margin: auto; left: 0; right: 0; top: 490px; }
#_highlight		{ position: absolute; width: 640px; height:  auto; background-color: transparent; margin: auto; left: 0; right: 0; top: 525px; font-size: 8pt; }
#_brfv4_logo	{ position: absolute; width: 200px; left:     0;   bottom: 0; opacity: 0.5; }
#_stats	        { position: absolute; width:  80px; height:  48px; left:   0; top:  0; }

#_settingsLeft 	{ position: absolute; width: 160px; height: 480px; background-color: transparent; }
#_settingsRight { position: absolute; width: 255px; height:  100%; background-color: transparent; right: 0; }
#_msg           { position: absolute; width: 100%;  height:  40px; background-color: transparent; bottom: 0; }

.portrait-wrapper { 
  width: 413;
  min-width: 413;
  margin: 0 auto;
}
.iphone-bg-portrait { 
  background-image: url(./../assets/iphone-portrait.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 800px;
  width: 413px;
  margin: 0 auto;
  z-index:1000;
}

.landing-row { 
  background-color: #fff;
  margin-left:50px;
  width: 300px;
  height: 170px;
  padding-left: 8px;
  padding-right: 8px;
  margin-top:10px;
  overflow: hidden;
}
.row-title { 
  height: 20px;
  vertical-align: top;
  display: flex;
  font-weight: bold;
}

.row-icon-container { 
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.icon-container { 
  flex-wrap: wrap;
  margin-right: 25px;

}
.square-icon { 
  display: flex;
  flex-wrap: wrap;
  width: 120px;
  height: 120px;
  border: 2px solid black;
  margin-right: 10px;
}
.square-icon .show-image { 
  display: flex;
  flex-wrap: nowrap;
  width: 120px;
  height: 120px;
}
.portrait-contents { 
  position: absolute;
  top:150px;
  height: 500px;
  overflow: hidden;
  z-index: 300;
}

.background{
    position: absolute;
    top: 0;
    left: 0;
}

.outer {
  position: relative;
  width: 40%;
  height: 120px;
  margin: 20px auto;

}

.inner-portrait {
  position: absolute;
  width: 480;
  height: 640px;

  top: 45px;
  left: 20.3%;
  margin-left: -50px;
  background-color: #00c;
}


.inner {
  position: absolute;
  width: 640px;
  height: 480px;

  top: 45px;
  left: 20.3%;
  margin-left: -50px;
  background-color: #00c;
}

.selector {
  position: absolute;
  width: 110px;
  height: 480px;
  top: 0px;
  right: -9.85%;
  margin-right: -50px;
  background-color: #fff;
}

.selecticon {
  width: 100px;
  height: 100px;
  max-height: 100px; 
  max-width: 100px;
  box-shadow: 10px 10px 5px #888888;
}

.video-sizing {
  object-fit: cover;
  height: 100px;
}